.App {
  margin: 0;
  text-align: center;
  background-color: #141820;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column
}

.appContent {
  display: flex;
}

h2 {
  margin: 0;
  padding: 20px;
}